
<div style="text-align: center;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1769942773682600"
     crossorigin="anonymous"></script>
<!-- Fixed -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1769942773682600"
     data-ad-slot="2056609353"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<br>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1769942773682600"
     crossorigin="anonymous"></script>
<!-- Ads 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1769942773682600"
     data-ad-slot="1067998722"
     data-ad-format="auto"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

