---
layout: blog
title: Blog
lang: eng
description: Blog
paginate: 5
---

<section class="blog">
    {% assign posts = paginator.posts %}
    
    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2> {{ page.list_title }}</h2>
    {%- endif -%}
    <div class="blog_border">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <div class='blog_border'>
            <span class="post-meta"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</span>
            <h3 class="post__title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <!-- Ad slot for each post -->
            <div class="ad-container">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8370893026371321"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-8370893026371321"
                     data-ad-slot="1860706536"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <p class="article__excerpt">
                {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}
            </p>
        </div>
        {%- endfor -%}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}"
                    class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}
</section>
