
  {% assign color_main  = page.color_main  | default: layout.color_main %}
  
  {% for post in posts %}
  
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        	
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.categories }}</strong>
          <h3 class="mb-0"> <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <div class="mb-1 text-body-secondary"><time datetime="{{ post.date | date_to_xmlschema }}"> {{ post.date | date: "%b %-d, %Y" }}</time></div>
          
          <p class="card-text mb-auto">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>
          <a href="{{ post.url | relative_url }}
          " class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
           
          </a>
        </div>
        
      </div>
  
  
  {% endfor %}
  
