<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>

<footer>
<hr>
<div class="container-fluid">
 <div class="img_mid">
	<!-- <span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span> -->
	<!--<span><a href="https://fb.me/litegapps"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span> !-->
	<span><a href="https://t.me/godTspeed"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
<!-- <span><a href="https://twitter.com/litegapps"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/twitter.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://www.tiktok.com/@litegapps"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/tiktok.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://forum.xda-developers.com/t/litegapps-systemless-custom-gapps.4146013/"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/xda.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	!-->
	 <span><a href="https://github.com/white9shadow"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/github.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://ko-fi.com/revws"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/paypal.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<!--<span><a href="mailto: litegapps@gmail.com"><img src="https://github.com/wahyu6070/Cloud/raw/main/image/social_media/email.png" alt="icon sosmed svg" class="ICON"></img></a></span>
!-->
 </div>
</div>
<hr>
	<p><div class="MID"><a href="/Policy.html">Privacy Policy</a></div></p>

	<p><div class="MID"><a href="/about-us.html">About Us</a></div></p>
<p><div class="MID"><a href="/contact-us.html">Contact Us</a></div></p>
	<p><div class="MID"><b>© 2024 Best Magisk Module</b></div></p>
<p></p>
</footer>
