<hr>

<div class="container-fluid">
 <div class="img_mid">
	<span><a href="https://instagram.com/wahyu_6070"><img src="/assets/img/media/instagram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/assets/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://fb.me/wahyu6070"><img src="/assets/img/media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/wahyu6070"><img src="/assets/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://twitter.com/wahyu6070"><img src="/assets/img/media/twitter.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://www.tiktok.com/@wahyu6070"><img src="/assets/img/media/tiktok.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://forum.xda-developers.com/m/wahyu6070.9507265/"><img src="/assets/img/media/xda.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://github.com/wahyu6070"><img src="/assets/img/media/github.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://paypal.me/wahyu6070"><img src="/assets/img/media/paypal.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="mailto: gwtsendangrejo6070@gmail.com"><img src="/assets/img/media/email.png" alt="icon sosmed svg" class="ICON"></img></a></span>
 </div>
</div>

{% comment %}
<!-- cookie -->
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert">
  &#x1F36A; <p>We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.</p>
  <a href="https://policies.google.com/technologies/cookies" target="blank">Learn more</a></p>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    I Got It
  </button>
</div>
{% endcomment %}



<footer>
<hr>
<p><div class="FOOTER"><a href="/about">About Us</a></div></p>
<p><div class="FOOTER"><a href="/contact">Contact Us</a></div></p>
<p><div class="FOOTER"><a href="/privacy-policy">Privacy Policy</a></div></p>
<p><div class="FOOTER"><a href="/cookie-policy">Cookie Policy</a></div></p>
<p><div class="FOOTER"><a href="/terms-of-service">Terms Of Service</a></div></p>
<p><div class="FOOTER"><b>Copyright <span>&#169;</span> 2024 wahyu6070</b></div></p>
</footer>
