@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.text-icon{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 33px;
  }
.text-title{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  font-size: 20px;
  position:absolute;
    right:50px;
    top:50px;
  }
  
.circular-image {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
	

.ICON {
	width: 23px;
     height: 23px;
     vertical-align: middle;
	margin-right: 8px;
	}
	
.IMAGE_SS{
		width: 23px;
		height: 23px;
		vertical-align: middle;
		
		}

.ICON-MENU {
	width: 39px;
     height: 39px;
	}
	@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Mali:wght@600&display=swap');
.TEXT-ICON {
	background-color: #fff;
	color: #1e90ff;
	line-height: 1.3;
	 max-width: 50rem;
  	word-wrap: break-word;
	font-family: 'Italianno', cursive;
	font-family: 'Mali', cursive;
	text-align: center;
	
}
.FOOTER {
	font-family: 'Italianno', cursive;
	font-family: 'Mali', cursive;
    line-height: 1.3;
    margin: 0;
    text-align: center;
    animation: slideInUp; 
    animation-duration: 2s;
}

.normal-text {
  background-color: #fff;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: left;
	}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.FOOTER {
	font-family: 'Italianno', cursive;
	font-family: 'Mali', cursive;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}
.img_mid {
  line-height: 1.3;
  margin: 0;
  text-align: center;
}

@font-face {
	font-family: italicc;
	src: url(/assets/font/italic.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	}
i {
	font-family: italicc;
	}
@font-face {
	font-family: boldd;
	src: url(/assets/font/bold.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	}

strong,
b {
	font-family: boldd;
	
	}
@font-face {
	font-family: h1;
	src: url(/assets/font/h1.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	}
	
h1,
h2,
h3,
h4,
h5 {
	font-family: h1;
		}
@font-face {
	font-family: main;
	src: url(/assets/font/main.ttf);
	font-display: swap;
	}
p,
:root,
ul,
li
{
	font-family: main;
	}
	
.normal-text {
  background-color: #fff;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: left;
	}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
.text-special {
	background-color: #fff;
	color: #1e90ff;
	line-height: 1.3;
	margin: 0;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	}
	
.MID {
  line-height: 1.3;
  margin: 0;
  text-align: center;
}

article img:not([class]) {
	line-height: 1.3;
	margin: 0;
	text-align: center;
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px;
	text-align: center;
    max-width: 400px;
    height: auto;
	}


.blog_border {
	padding: 1.5rem;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	
	
	}
	
@font-face {
	font-family: main;
	src: url(/assets/font/main.ttf);
	font-weight: 400;
	font-display: swap;
	}
	

.FOOTER,
footer {
	font-family: main ;
	}
#cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
  }
.pfooter{
	font-size: 14px;
	padding-left: 12px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	}
a:link {
	text-decoration: none;
	color: #007d9c;
	}


a:visited {
	text-decoration: none;
	color: #007d9c;
	}


a:hover {
	text-decoration: none;
	color: #007d9c;
	}


a:active {
	text-decoration: none;
	color: #007d9c;
	}
h1 {
	text-align: center;
	font-size: 30px;
	
	}
h2 {
	text-align: center;
	font-size: 24px;
	}
	
h3 {
	font-size: 20px;
	}
h4 {
	font-size: 16px;
	}

form_search {
	margin: 0px;
	margin-right: 5px;
	width: 0px;
	
	
	}
.search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 20px;
            padding-left: 3px;
        }

        .search-input {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            margin-right: 5px;
            width: 101px;
        }

        .search-button {
            padding: 7px 15px;
            border: none;
            border-radius: 4px;
            background-color: #dc3545;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #7175FF;
        }
@media screen and (min-width: 600px) {
  
	.search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 100px;
            
        }
      .search-input {
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            margin-right: 5px;
            width: 250px;
        }

        .search-button {
            padding: 7px 15px;
            border: none;
            border-radius: 3px;
            background-color: #dc3545;
            
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #45a049;
        }
        
}       