<table class="download-table" id="downloadTable">
    <thead>
      <tr>
        <th>Version</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Magisk</td>
        <td><a class="download-btn" href="https://github.com/topjohnwu/Magisk/releases">Download</a></td>
      </tr>
      <tr>
        <td>Magisk Kitsune</td>
        <td><a class="download-btn" href="https://huskydg.github.io/magisk-files/">Download</a></td>
      </tr>
      <tr>
        <td>Magisk Kitsune Lite</td>
        <td><a class="download-btn" href="https://huskydg.github.io/magisk-files/">Download</a></td>
      </tr>
      <tr>
        <td>KernelSU</td>
        <td><a class="download-btn" href="https://github.com/tiann/KernelSU/releases">Download</a></td>
      </tr>
      <tr>
        <td>Fox Magisk Manager</td>
        <td><a class="download-btn" href="https://github.com/Fox2Code/FoxMagiskModuleManager/releases">Download</a></td>
      </tr>
      <tr>
        <td>APatch</td>
        <td><a class="download-btn" href="https://github.com/bmax121/APatch/releases/download/10763/APatch_10763_10763-release-signed.apk">Download</a></td>
      </tr>
      <tr>
        <td>Magisk Modules Repository</td>
        <td><a class="download-btn" href="/magisk-modules-repo">Discover</a></td>
      </tr>   
    </tbody>
  </table>
