{{ partial "ads/footer.html" . }}

{{ partial "js.html" . }}
<hr>

 <div class="FMID">
 	<span><a href="https://aethersx2.gitlab.io"><img src="/img/icon.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://facebook.com/groups/332597627343236/"><img src="/img/media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/aethersx2_emulator"><img src="/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
 </div>

<hr>
<footer>
	<div class="FOOTERR">
			
		<div class="p_footer MID"><a href="https://androidsmart.github.io">Android Smart</a></div>
		<div class="p_footer MID"><a href="https://androidroot.gitlab.io">Android Root</a></div>
		<div class="p_footer MID"><a href="https://ppsspp.gitlab.io">PPSSPP Emulator</a></div>
		<div class="p_footer MID"><a href="https://dolphin27.gitlab.io">Dolphin Emulator</a></div>
	<div class="p_footer MID"><a href="https://litegapps.github.io">LiteGapps</a></div>
     <p>Copyright &copy; {{ now.Format "2006"}} Aethersx2.gitlab.io</p>
	</div>
</footer>
