<p></p>
<p></p>
<p></p>
{{ partial "ads/footer.html" . }}
{{ partial "js.html" . }}
<p></p>
<p></p>
<hr>
<footer>
	<div class="FOOTERR">
	<p></p>
		<!--Search-->
	  <div class="container text-end">
    <form class="d-flex" action="https://www.google.com/search" method="GET" target="_blank">
      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <input type="hidden" name="as_sitesearch" value="https://magiskmodule.gitlab.io/">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  

	<p></p>
 <div class="FMID">
	<span><a href="https://www.youtube.com/@bestmagiskmodule"><img src="/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://gitlab.com/magiskmodule"><img src="/img/media/github.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/magiskflash"><img src="/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>

<p></p>
<hr>
<p>
  <a href="/about">About</a> • 
  <a href="/privacy-policy">Privacy Policy</a> • 
  <a href="/contact">Contact Us</a> • 
  <a href="/terms-and-conditions/">Terms and Conditions</a> • 
  <a href="/cookies-policy/">Cookies Policy</a> • 
  <a href="/disclaimer/">Disclaimer</a>
</p>
<br>
<hr>	
<p><code>Our Other Websites</code></p>
<p>
    <a href="https://pcgame.gitlab.io">PC Game Emulator</a> • 
    <a href="https://retroarchemu.gitlab.io">RetroArch Emulator</a> • 
    <a href="https://pcsx2.gitlab.io/">PCSX2</a> • 
    <a href="https://citraemulator.gitlab.io">Citra Emulator</a> • 
    <a href="https://DraSticDSEmulator.gitlab.io">DraStic DS Emulator</a> • 
    <a href="https://kernelsu.gitlab.io">KernelSU</a> • 
    <a href="https://magiskmodule.gitlab.io">Magisk Module</a> • 
    <a href="https://majorgeeks.gitlab.io">MajorGeeks</a> • 
    <a href="https://makeuseof.gitlab.io">MakeUseOf</a> • 
    <a href="https://OceanofGames.gitlab.io">Ocean of Games</a> • 
    <a href="https://pspemu.gitlab.io">PSP Emulator</a> • 
    <a href="https://rpcs3.gitlab.io">RPCS3 Emulator</a>
</p>

<hr>
       
		<div class="p_footer MID"><a href="https://www.magiskflash.com">Magisk Flash</a></div>
		<div class="p_footer MID"><a href="https://www.godTspeed.xyz">Godspeed</a></div>
		<div class="p_footer MID"><a href="https://www.bestmagiskmodule.github.io">Best Magisk Module</a></div>
   <p style="text-align: center;">&copy; {{ now.Format "2006"}} magiskmodule.gitlab.io</p>

	</div>
</footer>
