<div class="footer container-xl width-full p-responsive">
  <div
    class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between flex-sm-items-center pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
    <a aria-label="Homepage" title="GitHub" class="footer-octicon d-none d-lg-block mr-lg-4" href="{{ .Site.BaseURL }}">
      <svg height="24" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="24">
        <path fill-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
        </path>
      </svg>
    </a>
    <ul class="list-style-none d-flex flex-wrap col-12 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
      {{ if .Site.Copyright }}
      <li class="mr-3 mr-lg-0">{{ .Site.Copyright | safeHTML }}</li>
      {{ else }}
	<p></p>
<div class="FMID">
    <span style="display: inline-flex; margin-right: 10px;">
        <a href="https://www.youtube.com/@bestmagiskmodule">
            <img src="/img/media/youtube.png" alt="YouTube icon" class="ICON">
        </a> • 
    </span>
    <span style="display: inline-flex; margin-right: 10px;">
        <a href="https://gitlab.com/magiskmodule">
            <img src="/img/media/github.png" alt="GitHub icon" class="ICON">
        </a>• 
    </span>
    <span style="display: inline-flex;">
        <a href="https://t.me/mmkasum">
            <img src="/img/media/telegram.png" alt="Telegram icon" class="ICON">
        </a>
    </span>
</div>





<p></p>
<hr>
<p>
  <a href="/about">About</a> • 
  <a href="/privacy-policy">Privacy Policy</a> • 
  <a href="/contact">Contact Us</a> • 
  <a href="/terms-and-conditions/">Terms and Conditions</a> • 
  <a href="/cookies-policy/">Cookies Policy</a> • 
  <a href="/disclaimer/">Disclaimer</a>
</p>
<br>
<hr>	
<p><code>Our Other Websites</code></p>
<p>
    <a href="https://pcgame.gitlab.io">PC Game Emulator</a> • 
    <a href="https://retrobowlweb.gitlab.io">RetroBowl</a> • 
    <a href="https://retroarchemu.gitlab.io">RetroArch Emulator</a> • 
    <a href="https://pcsx2.gitlab.io/">PCSX2</a> • 
    <a href="https://citraemulator.gitlab.io">Citra Emulator</a> • 
    <a href="https://DraSticDSEmulator.gitlab.io">DraStic DS Emulator</a> • 
    <a href="https://kernelsu.gitlab.io">KernelSU</a> • 
    <a href="https://magiskmodules.gitlab.io">Magisk Module</a> • 
    <a href="https://majorgeeks.gitlab.io">MajorGeeks</a> • 
    <a href="https://makeuseof.gitlab.io">MakeUseOf</a> • 
    <a href="https://OceanofGames.gitlab.io">Ocean of Games</a> • 
    <a href="https://pspemu.gitlab.io">PSP Emulator</a> • 
    <a href="https://rpcs3.gitlab.io">RPCS3 Emulator</a>
</p>

<hr>
       
		<div class="p_footer MID"><a href="https://www.magiskflash.com">Magisk Flash</a></div>
		<div class="p_footer MID"><a href="https://www.godTspeed.xyz">God Speed Mode</a></div>
		<div class="p_footer MID"><a href="https://retrobowlweb.gitlab.io">Retro Bowl Unblocked</a></div>
		<div class="p_footer MID"><a href="https://bestmagiskmodule.github.io">Best Magisk Modules</a></div>
   <p style="text-align: center;">&copy; {{ now.Format "2006"}} magiskmodules.gitlab.io</p>

	</div>
      {{ end }}
    </ul>
  </div>
  <div class="d-flex flex-justify-center pb-6">
    <span class="f6 text-gray-light"></span>
  </div>


</div>